certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.3.2
contourpy==1.2.0
cssutils==2.9.0
cycler==0.10.0
filelock==3.13.1
fonttools==4.44.0
fsspec==2023.10.0
idna==2.10
imageio==2.32.0
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
ll-xist==5.74
MarkupSafe==2.1.3
matplotlib==3.8.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.74
packaging==23.2
pandas==2.1.2
Pillow==10.0.1
pycoco==0.7.2
pycocotools==2.0.7
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
roboflow==1.1.9
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.3
six==1.16.0
supervision==0.16.0
sympy==1.12
threadpoolctl==3.2.0
tifffile==2023.9.26
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
